<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img style="height: 450px;" src="https://previews.123rf.com/images/jchizhe/jchizhe1903/jchizhe190300193/118409119-shopping-cart-on-blue-background-minimalism-style-creative-design-copy-space-banner-shop-trolley-at-.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img style="height: 450px;" src="https://c8.alamy.com/comp/2AKGTKK/grocery-shopping-promotional-sale-banner-fast-shopping-cart-full-of-fresh-colorful-food-2AKGTKK.jpg" class="d-block w-100" alt="...">
    </div>
   <div class="carousel-item">
      <img style="height: 450px;" src="https://c8.alamy.com/comp/2AKGT2Y/electronics-and-devices-promotional-sale-banner-with-full-shopping-cart-technology-and-online-shopping-concept-2AKGT2Y.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
</div>