<body style="background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(65,213,44,1) 35%, rgba(0,212,255,1) 100%);">
  
  <div class="container" style="margin-top: 70px;border:2px solid black;width:300px">
 
  <h3 style="color: red;">{{msg}}</h3>

    <div class="row">
        <h2 style="color: white;">Register</h2>
    </div>
    <form action="/users/Ureg" method="post">
    <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label" style="color: white;">User name</label>
    <input type="text" name="user_name" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label"style="color: white;">Email address</label>
    <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label"style="color: white;">Mobile number</label>
    <input type="text" name="mobile" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label"style="color: white;">Password</label>
    <input type="password" name="pass" class="form-control" id="exampleInputPassword1">
  </div>
  {{!-- <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Conform Password</label>
    <input type="password" name="cpassword" class="form-control" id="exampleInputPassword1">
  </div>
  --}}
  <button type="submit" class="btn btn-outline-success">Submit</button> 
  <a href="/users/userLogin" class="btn btn-outline-danger">Login here</a>

</form>
</div>
</body>